.captionText {
  font-family: Poppins;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
  color: black;
  margin: 0;
  line-height: 63px;
}
.captiondiv {
  border-radius: 12px;
}
